.container {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: -ms-grid;
    z-index: 1;
    display: grid;
    grid-template-rows: 12vh 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    touch-action: manipulation;
}


.headline {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    touch-action: manipulation;

}

.headline span:first-child {
    font-weight: bolder;
    margin-right: 15px;
    font-size: 22px;
    margin-left: 30px;
    touch-action: manipulation;


}

.headline div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    touch-action: manipulation;

}

.score {
    margin-left: 5px;
    font-size: 18px;
    touch-action: manipulation;

}

.sticker_container {
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    touch-action: manipulation;

}


.p {
    scroll-snap-align: center;
    display: flex;
    height: 200px;
    flex-shrink: 0;
    width: 10vw;
    touch-action: manipulation;

}


.sticker_container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

@media screen and (max-device-height: 600px) {
    .sticker_container {
        align-items: start;
    }

    .container {
        grid-template-rows: 8vh 1fr;
    }
}


