.container {
    font-family: 'Roboto', sans-serif;
    display: -ms-grid;

    display: grid;
    -ms-grid-rows: 55px 10vh 1fr;
    grid-template-rows: 55px 10vh 1fr;
    justify-items: center;
    align-items: center;
}

.headline {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.headline span:first-child {
    font-weight: bolder;
    margin-right: 15px;
    font-size: 22px;
    margin-left: 30px;

}

.headline div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.score {
    margin-left: 5px;
    font-size: 18px;
}

.sticker_container {
    width: 100vw;
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}


.sticker_container > div:last-child {
    margin-right: 14vw;
}

.sticker_container > div:first-child {
    margin-left: 14vw;
}

.sticker_container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.button {
    height: 7vh;
    width: 60vw;
    border: none;
    border-radius: 25px;
    background-color: #5D80FF;
}