.sticky_container {
    height: 130px;
    position: absolute;
}

.back_button {
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
    margin-left: 25px;
}

.question_window {
    height: 100%;
    background: linear-gradient(179.79deg, #699AFF 0.1%, #3171F7 21.78%);
    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

.question_number {
    padding-top: 19px;
    font-size: 18px;
    line-height: 21px;
}

.timer {
    padding-top: 5px;
    font-size: 14px;
}

.question_card {
    position: relative;
    z-index: 2;
    margin: 15px auto;

    display: grid;
    grid-template-rows: 30% 1fr 40px 10px;
    grid-template-areas: "question_text" "answer_container" "control" "slider";

    width: 90%;
    height: 82%;
    align-items: end;
    background: linear-gradient(179.79deg, #699AFF 0.1%, #3171F7 21.78%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    animation: slide_up 1.4s ease;
}

.answers_container {
    margin-bottom: 2vh;
}

.question_text {
    width: 80%;
    margin: auto;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
	z-index: 1000;
}

.animation_container {
    position: relative;
    top: -30%;
}

.control {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "score_container" "next_question";
    margin-bottom: 2vh;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.score_container {
    width: 100px;
    height: 36px;
    margin: auto auto;
    padding: 18px;

    background: #FFFFFF;
    border: 1px solid #588EFF;
    box-sizing: border-box;
    border-radius: 25px;


    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;

    color: #000000;
}

.score {
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
}

.next_question {
    display: grid;
    grid-template-columns: 100px 9px;
    align-content: center;
    grid-gap: 5px;
    padding: 8px 16px;

    text-decoration: none;
    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;

    color: black;
}

.chevron {
    margin-bottom: 1px;
    background-image: url("../../img/chevron/ic_left_chevron_black.svg");
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.slider {
    position: relative;
    z-index: 50;

    margin: auto;

    width: 150px;
    height: 5px;
    border: none;
    outline: none;
    background: #E8E8E8;
    border-radius: 25px;
}


.wave {
    z-index: 1;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.wave_card {
    z-index: 1;
    width: 100%;
    height: 75%;
    overflow: hidden;
    position: absolute;
    bottom: 0;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    background: url("../../img/question/bg_waves.svg");
    background-size: cover;
}

.external_waves {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@keyframes waves {
    from {
        margin-left: 0;
    }

    to {
        margin-left: -1938px;
    }

}

@keyframes slide_up {
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide_down {
    0% {
        transform: translateY(-250px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (min-device-height: 750px) {
    .wave_card {
        height: 70%;
    }
}

@media screen and (max-device-height: 600px) {
    .question_card {
        height: 85%;
    }
}

