.page {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    overflow: scroll;
}

.test_card {
    width: min-content;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
}

form {
    height: min-content;
    width: 82vw;
    margin-right: auto;
    margin-left: auto;
}

.input_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.input {
    margin-bottom: 20px;
}