.card {
    grid-area: card;
    height: min-content;
    width: 82vw;
    display: grid;
    grid-template-rows: 160px calc(80px + 1em + 15px);
    grid-template-areas: "pic" "container";
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 25px;
    margin-top: 20px;
}

.pic {
    width: inherit;
    height: 160px;
    grid-area: pic;
    z-index: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    object-fit: cover;
}

.container {
    grid-area: container;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 0 0 25px 25px;
    padding-bottom: 25px;
}

.name {
    height: 60px;
    font-style: normal;
    margin: 5px 10px 5px;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
}

.info {
    display: grid;
    grid-template-columns: 3fr 0.6fr 0.2fr;
    text-align: center;
}

.date {
    text-align: left;
    margin-left: 15px;
    color: #C4C4C4;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
  }

.dot_on {
  height: 10px;
  width: 10px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}

.start_button {
    z-index: 100;
    margin: auto;
    height: 40px;
    width: 200px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #588EFF;
    border-radius: 20px;
    border: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #F3FDFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /*text-shadow: 0 4px 6px #34ABB5;*/

    position: relative;
    top: -20px;
}

.start_button:active {
    background-size: 150px 150px;
    background: #3256E0 url("../../../img/testlist/button_pressed.svg") no-repeat center;
}

.disabled {
    background-color: #BEBEBE;
}

.disabled:active {
    background-color: #BEBEBE;
}

@media screen and (max-device-height: 600px){
    .card {
        grid-template-rows: 110px min-content;
        grid-template-areas: "pic" "container";
    }

    .pic {
        height: 110px;
    }

    .start_button {
        width: 170px;
    }
}

