
.news_container {
    margin-top: 1%;
    overflow: scroll;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Titillium Web", sans-serif;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}
/*no scrollbar*/
.news_container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.task {
    grid-area: task;
}




