.tests_container {
    overflow: scroll;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Titillium Web", sans-serif;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.tests_container > div:first-child {
    padding-top: env(safe-area-inset-top);
}

.tests_container > div:last-child {
    padding-bottom: env(safe-area-inset-bottom);
}


/*no scrollbar*/
.tests_container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.add_button {
    position: absolute;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50px;

    top: calc(100% - 70px - env(safe-area-inset-bottom));
    left: calc(50% - 25px);

    background: white url("../../../img/testlist/ic_cross.png") no-repeat center;
    background-size: 28px 28px;

    filter: drop-shadow(0px 4px 45px rgba(0, 0, 0, 0.4));
}

.add_button:active {
    background-color: #BEBEBE;
}

.confirm_modal_container {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.confirm_modal {
    width: min-content;
    height: min-content;

    margin-left: auto;
    margin-right: auto;
}


@supports (-webkit-touch-callout: none) and (min-height: 800px) {
    /* CSS specific to iOS devices */
    .add_button {
        height: 15px;
    }
}
