.card {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    scroll-snap-align: center;
    height: min-content;
    width: 80vw;
    background: #FFFFFF;
    box-shadow: 0 6px 17px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 10px;
}

.content_container {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 15px;
    justify-items: center;
}

.content_container > img:first-child {
    margin-left: auto;
    margin-right: 0;
}

.content_container > img:nth-child(2) {
    margin-bottom: 10px;
}

.name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.quote {
    font-size: 1.1em;
    font-style: italic;
    margin-right: 0;
    white-space: pre-wrap;
    width: 65vw;
    margin-bottom: 15px;
}

@media screen and (max-height: 670px) {
    .description {
        display: none;
    }
}

@media screen and (min-height: 670px) {
    .description > div {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

