.answer_block {
    position: fixed;
    z-index: 100;
    display: grid;
    grid-template-rows: 60px min-content 2em min-content 2em minmax(100px, min-content);
    grid-template-areas: "head" "question" "ans_title" "ans" "explanation_title" "explanation";

    width: 80%;
    height: min-content;
    padding: 10px;
    left: 7%;
    top: 10%;

    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.head {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "question_label" "exit";
}

.question_label {
    margin-left: 55%;
    margin-top: 20px;
}

.exit {
    background: url("../../../img/preview/answer/exit.svg") no-repeat center;
    margin: 20px auto auto;
    height: 25px;
    width: 25px;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 25px;
}

.exit:active {
    background-color: #BFBFBF;
}

.exit:hover {
    color: #E8E8E8;
}


.question {
    margin-bottom: 12px;
    padding-left: 5px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    letter-spacing: -0.05em;

    color: #000000;
}

.ans_title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    letter-spacing: -0.04em;

    color: #000000;
}

.ans {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #3B4251;

}

.explanation_title {
    margin-top: 10px;

    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.04em;

    color: #000000;

}

.explanation {
    margin: 10px;

    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #3B4251;
}