.progress {
    border: 1px solid #588EFF;
    border-radius: 15px;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "score time";
    justify-items: center;
    font-weight: bold;
    padding-top: 14px;
}


.score {
    grid-area: score;
}

.time {
    grid-area: time;
}

.progress_item__counter {
    display: grid;
    grid-template-columns: 45px 10px 45px;
    grid-template-rows: 45px;
    justify-items: center;
    align-items: center;
    grid-gap: 2px;
}

.progress_item__title {
    font-size: 18px;
}

.progress_item__block {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background: #E8E8E8;
    display: grid;
    justify-items: center;
    align-items: center;
}

.special {
    color: #588EFF;
}


