.question_item {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 20px;
}

.question_status {
    margin-left: 10px;
}

.question_preview {
    color: #838383;
    margin-top: 10px;
    margin-bottom: 10px;
}

.answer {
    background-image: url("../../../img/preview/ic_question_mark.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: white;
    border-style: none;
    outline: none;
}


.separator {
    height: 2px;
    width: 100%;
    background-color: #E8E8E8;
    border-radius: 10px;
}