.question_item {
    display: grid;
    grid-template-columns: 30px minmax(120px, 3000px) 48px;
    grid-gap: 15px;
    height: 40px;
    align-content: center;
}

.question_status {
    margin-left: 10px;
}

.question_preview {
    color: #838383;
    margin-top: 5px;
    margin-bottom: 10px;
}

.title {
    margin-bottom: auto;
    margin-top: calc((24px - 1em) / 2);
}

.answer {
    height: 24px;
    width: 24px;
    background: url("../../../img/preview/ic_question_mark.png") no-repeat center;
    background-size: contain;
    border-style: none;
    outline: none;
}


.separator {
    height: 2px;
    width: 100%;
    background-color: #E8E8E8;
    border-radius: 10px;
}