.exit_button {
    height: 20px;
    width: 10px;
    border: none;
    background-color: #5E80FF;
    background-image: url("../../../img/chevron/ic_left_chevron_white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 17px;
    left: 20px;
}

.header {
    border-radius: 0 0 25px 25px;
    height: 60px;
    width: 100%;
    background-color: #5E80FF;
}