.container {
    width: 82%;
    height: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.header > button {
    height: 24px;
    width: 24px;

    margin-left: 10px;

    border-radius: 24px;
    border: none;
    background: white url("../../../img/admin/ic_plus_circle_button.png") no-repeat;
    background-size: 24px 24px;
}

.header > button:active {
    background-color: #C4C4C4;
}

.header > button:hover, .header > button:focus  {
    outline: none;
}

.question_container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 25px;
}

.question_container:last-of-type {
    margin-bottom: 80px;
}

.control {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 10px;
}

.control > button {
    height: 24px;
    width: 24px;
    margin-left: auto;
    margin-right: 0;
    border: none;

    background: white url("../../../img/admin/ic_settings.png") no-repeat;
    background-size: contain;
}

.control > button:focus {
    outline: none;
}

.question_item {
    margin-bottom: 10px;
}

.question_item:last-child {
    margin-bottom: 0;
}

.save_button {
    height: 50px;
    width: 80%;
    flex-shrink: 0;
    margin: auto 10% 30px;

    border-radius: 25px;
    border: 1px solid #4986CC;

    background-color: white;
}

.save_button:active {
    background-color: #2D5BB9;
    color: white;
}

.save_button:hover, .save_button:focus {
    outline: none;
}

.edit_window_container {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.edit_window {
    position: relative;
    z-index: 1001;
    display: block;
    width: min-content;
    height: min-content;
}

