.container {
    width: 100vw;
    height: calc(100vh - 50px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.content {
    width: calc(100% - 18vw);
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.input_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.input {
    margin-bottom: 20px;
}

.right_answer_choice {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.select > select {
    height: 35px;
    width: 45px;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    background-color: white;
    color: #707070;
}

.select > select:hover {
    outline: none;
}