.profile_card {
    height: 90%;
    margin-top: 30px;
    margin-right: 5vw;
    padding: 5px;
    display: grid;
    background-color: #FFFFFF;
    border-radius: 25px;
    grid-template-columns: 20px 1fr;
    grid-template-rows: minmax(100px, 150px) minmax(320px, 340px) min-content;
    grid-template-areas: "slider about" "slider level_fragment" "slider logo";
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-items: center;
    color: black;
    grid-gap: 5px;
}

.slider {
    grid-area: slider;
    width: 4px;
    height: 150px;
    background-color: #BFBFBF;
    border-radius: 25px;
    /*margin: auto 10px auto 10px;*/
}

.about {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "user_photo bio";
    grid-gap: 20px;
    align-items: center;
}

.bio {
    margin-top: 10px;
    grid-area: bio;
    font-size: 14px;
}

.name {
    font-weight: bold;
    font-size: 14px;
}

.score {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-gap: 5px;
}

.level_fragment {
    grid-area: level_fragment;
}

.logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto 5px 20px;
}

.logo img {
    margin-left: auto;
    margin-right: auto;
}

.logo div {
    margin: auto;
    padding-right: 5px;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    /*background: rgba(229, 229, 229, 0.72);*/
}

.background div:nth-child(1) {
    z-index: -1;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 182px;
    top: -100px;
    border-radius: 50%;
    transform: rotate(65.54deg);
    background: radial-gradient(66.57% 80.57% at 95.1% 39.09%, rgba(41, 48, 217, 0.37) 23.21%, #3532D1 66.52%, rgba(24, 21, 173, 0.85) 100%);
}

.background div:nth-child(2) {
    z-index: -1;
    position: absolute;
    width: 250px;
    height: 250px;
    left: -200px;
    top: 300px;
    border-radius: 50%;
    background: radial-gradient(108.07% 112.44% at 95.1% 39.09%, rgba(213, 41, 217, 0.37) 20.75%, #D132B8 66.52%, rgba(126, 83, 133, 0.90212) 99.98%, rgba(22, 174, 64, 0.854667) 99.99%, rgba(83, 133, 103, 0.90212) 99.99%, rgba(173, 21, 140, 0.85) 100%);
    transform: rotate(-110.67deg);
}


@media screen and (max-device-height: 600px){
    .profile_card {
        grid-gap: 0;
        margin-top: 0;
        height: min-content;
        grid-template-rows: 120px 320px 80px;
    }

}


