.page {
    height: calc(100% - 80px);
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    overflow: scroll;
}

.page::-webkit-scrollbar {
    display: none;
}

.test_card {
    width: min-content;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
}

form {
    height: min-content;
    width: 82vw;
    margin-right: auto;
    margin-left: auto;
}

.input_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.input {
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}
.custom_file_upload {
    border: 1px solid #4986CC;
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    align-items: center;

    margin: 10px 0 20px;
}

.custom_file_upload:active {
    background-color: #4986CC;
    color: white;
}

.custom_file_upload > div {
    width: min-content;
    height: min-content;
    white-space: nowrap;
    margin: auto;
}

.time_limit {
    display: flex;
    flex-direction: column;
}

.time_limit_item {
    height: 35px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 5px;
}

.time_limit_item:last-child {
    margin-bottom: 15px;
}


.time_limit_item > input {
    display: flex;
    align-self: center;
    height: 0;
    width: 0;
    visibility: hidden;
}

.time_limit_item > label {
    margin: 0 10px 0;
    height: min-content;
    width: min-content;
    white-space: nowrap;
    text-align: center;
}

.time_limit_item > input:checked + label::before {
    background-color: #4B71FF;
}

.time_limit_item > label::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 0.25em;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #4B71FF;
    border-radius: 8px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.time_limit_item > div > select {
    margin-right: 10px;
}

.select {
    margin-top: 0.25em;
}

.select > select {
    height: 35px;
    width: 90px;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    background-color: white;
    color: #707070;
}

.select > select:hover {
    outline: none;
}


.next {
    margin: 2vh 9vw 2vh auto;
    display: grid;
    grid-template-columns: min-content 9px;
    align-content: center;
    padding: 8px;
    grid-gap: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    white-space: nowrap;
    color: black;
}

.next:active {
    background-color: #BFBFBF;

}

.chevron {
    margin-bottom: 1px;
    background-image: url("../../../img/chevron/ic_left_chevron_black.svg");
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media screen and (max-device-width: 366px) {
    .time_limit_item {
        flex-direction: column;
        height: min-content;
    }

    .select {
        margin-top: 15px;
        margin-left: 45px;
    }

    .next {
        margin-top: 10vh;
    }
}