
.profile_swipe {
    position: fixed;
    height: 300px;
    z-index: 1;
    top: 5vh;
    right: -375px;
}

.showed {
    transform: translate(-300px, 0px);
}

.hidden {
    transform: translate(0px, 0px);
}

