.level_wrapper {
    margin-left: 0;
    padding-left: 0; 
    height: 100%;
    display: grid;
    grid-template-rows: 40px min-content 100px;
    grid-gap: 5px;
}

.dignity {
    font-size: 16px;
    display: grid;
    margin: auto;
    grid-template-columns: 40px 1fr;
}

.dignity svg {
    margin: 0;
    height: 34px;
    width: 34px;
}

.dignity div {
    margin-top: 7px;
    font-weight: bold;
}

.quote {
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 25px;
    background-color: #F2F2F2;
    color: #000000;
    font-size: 11px;
    text-align: center;
    padding: 10px;
}

.main_wrapper {
    max-height: 100px;
    display: flex;
    flex-direction: row;
}

.sticker_wrapper {
    display: grid;
    grid-template-rows: repeat(3, 20px);
    grid-template-areas:
            "sticker cloud_1"
            "sticker cloud_2"
            "sricker cloud_3";
    grid-row-gap: 7px;
}

.sticker_wrapper div:nth-child(1) {
    grid-area: cloud_1;
    width: 50px;
    margin-left: 5px;
}

.sticker_wrapper div:nth-child(2) {
    grid-area: cloud_2;
    margin-left: 25px;
    width: 35px;
}

.sticker_wrapper div:nth-child(3) {
    grid-area: cloud_3;
    width: 25px;
}

.cloud {
    float: left;
    height: 20px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.sticker {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
