svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.path_circle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    -webkit-animation: dash .35s ease-in-out;
    animation: dash .35s ease-in-out;
}

.path_line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-dashoffset: 1000;
    -webkit-animation: dash .35s .35s ease-in-out forwards;
    animation: dash .35s .35s ease-in-out forwards;
}

.path_check {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .35s .35s ease-in-out forwards;
    animation: dash-check .35s .35s ease-in-out forwards;
}

@-webkit-keyframes dash {
    0% {
    stroke-dashoffset: 1000;
    }
    100% {
    stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
    stroke-dashoffset: 1000;
    }
    100% {
    stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
    stroke-dashoffset: -100;
    }
    100% {
    stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
    stroke-dashoffset: -100;
    }
    100% {
    stroke-dashoffset: 900;
    }
}